@import '../BaseColor.css';


 .home{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   padding: 20px;
   background-color: var(--secondary-color);
   margin-bottom: 30px;
} 
.Home{
   margin-top: 10px;
}
 .Home h1{
   font-size: 25px;
   margin-left: 20px;
    
}

 @media (max-width:1140px){
   .home{
      display:grid;
      grid-template-columns: repeat(4,1fr);
      padding: 10px;
      background-color: var(--secondary-color);
      margin-bottom: 30px
   }
} 
@media (max-width:760px) {
   .home{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      padding: 10px;
      background-color: var(--secondary-color);
      margin-bottom: 30px
   }
}

@media (max-width:440px) {
   .home{
      display:grid;
      grid-template-columns: repeat(1,1fr);
      padding: 10px;
      background-color: var(--secondary-color);
      margin-bottom: 20px
   }
   .Home h1{
      font-size: 20px;
      margin-left: 10px;
       
   }
   .Home{
      margin-top: 5px;
   }
}