@import '../BaseColor.css';

*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
   
}

.navbar{
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;

  
}
.navbar a{
    text-decoration: none;
}

.navbar a .logo{
    color:var(--primary-font-color);
    font-family: var(--primary-font);
    margin-left: 20px;
}
.navbar form{
    display: flex;
    margin-left: 100px;
}
.navbar form button{
    border: none;
    margin-left: 5px;
    padding: 0px 5px;
    border-radius: 5px;
}
.navbar form  input{
    outline: none;
    width: 400px;
    padding-left: 20px;
    border-radius: 5px;
}

@media (max-width:760px) {
    .navbar a .logo{
        color:var(--primary-font-color);
        font-family: var(--primary-font);
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
}
.navbar form  input{
    outline: none;
    width: 300px;
    padding-left: 20px;
    border-radius: 5px;
}
}

@media (max-width:440px) {
    .navbar{
        background-color: var(--primary-color);
        padding: 5px;
        display: flex;
    }
    .navbar form{
        display: flex;
        margin-left: 20px;
    }
    .navbar a .logo{
        color:var(--primary-font-color);
        font-family: var(--primary-font);
        margin-left: 10px;
        font-size: 15px;
        font-weight: 400;
}
.navbar form  input{
    outline: none;
    width: 150px;
    padding-left: 10px;
    border-radius: 5px;
  }
}