@import '../BaseColor.css';

.Footer{
    background-color: var(--primary-color);
}
.Footer div {
    padding: 5px;
    display: flex;
}
.Footer div  h4{
    font-size: 18px;
    margin-left: 300px;
    font-family: var(--primary-font);
    font-weight: 500;
}

.Footer div a{
text-decoration: none;
margin-left: 50px;
font-size: 25px;
}

@media (max-width:1140px) {
    .Footer{
        background-color: var(--primary-color);
    }
    .Footer div {
        padding: 5px;
        display: flex;
    }
    .Footer div  h4{
        font-size: 18px;
        margin-left: 200px;
        font-family: var(--primary-font);
        font-weight: 500;
    }
    
    .Footer div a{
    text-decoration: none;
    margin-left: 50px;
    font-size: 25px;
    }
}

@media (max-width:440px) {
    .Footer{
        background-color: var(--primary-color);
    }
    .Footer div {
        padding: 5px;
        display: flex;
    }
    .Footer div  h4{
        font-size: 12px;
        margin-left: 100px;
        font-family: var(--primary-font);
        font-weight: 400;
    }
    
    .Footer div a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    color:black

    }
}

